<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit
      consequuntur id consequatur expedita odit fuga, magni tempore facere
      sapiente nisi quibusdam ab magnam voluptatibus. Molestias nemo tempora
      officia repudiandae facilis non velit, doloremque delectus reiciendis?
      Impedit, consequuntur commodi. Alias minima ipsum, ea beatae porro id vel,
      quas quisquam rem labore illum hic error consequuntur nostrum voluptatem
      ad aperiam architecto quos veritatis laboriosam! Facilis incidunt,
      deserunt culpa porro suscipit, numquam nam vitae qui accusantium atque
      doloremque provident quibusdam, illum voluptate mollitia ipsa nisi dicta
      quae deleniti aperiam. Officiis consequuntur earum recusandae officia,
      libero totam aliquam dicta delectus esse a culpa amet? Voluptatum incidunt
      delectus hic ab beatae ex nobis perferendis dignissimos, quasi rerum
      aliquid earum sequi ducimus modi repudiandae nemo voluptatem voluptas,
      voluptatibus debitis eaque atque. Dolores quam perspiciatis alias,
      dignissimos ad laboriosam tempore distinctio aperiam voluptate ut illum
      soluta perferendis recusandae exercitationem, reiciendis impedit in
      placeat molestiae dicta cum et! Autem distinctio eius explicabo ipsam qui
      quos officia inventore ex deleniti iusto. Sunt temporibus iure vitae id
      facere esse soluta fuga distinctio odit nostrum illo doloribus dolores
      libero obcaecati laudantium maxime mollitia natus porro pariatur, officiis
      reiciendis dolore veritatis iusto qui! Delectus quo molestiae enim eius
      quasi. Ducimus, exercitationem laboriosam.
    </p>
  </body>
</html>
